{% extends 'layout.html' %}

{% block body %}
  <h1>About Us</h1>
  <p>I'm just a normal student from cal state fullerton who loves programming.  I love the python and I love to code and love the web frameworks given by python that is django and flask. It's  so much fun to code in python and it is feels so simple as python makes everything clear for you. Go ahead explore my website and hav fun.!!! </p>
  <img src="http://news.fullerton.edu/2018su/_images/educational-fundraising-award.jpg" class="image-fluid"/>
{% endblock %}
