{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Start Blogging</h1>
    <p class="lead">Hello Folks, Welcome to a place where you can read what you like and make other's read what's in your head... What are you waiting for ? Start Blogging ..!!!!</p>
    {% if session.logged_in == NULL %}
      <a href="/register" class="btn btn-primary btn-lg">Register</a>
      <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% endif %}
  </div>
{% endblock %}
